body{
    
}

/* Pattern prima del titolo con logo */
header{
    background-color: rgb(0, 154, 206);
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 150px;
}

.logo-pagina{
    width: 200px;
}

/*allineamento al centro*/
main{
    width: 70%;
    margin: auto;
}

footer {
    width: 70%;
    margin: auto;
}

/*Scritta piccolina sotto al titolo iniziale*/
.Scritto{
    font-size: small;
    color: gray;
}

/*Link scritta piccola sotto al titolo iniziale*/
.Booleaner{
    font-size:small ;
}

/*Scritta piccola sotto le 2 foto iniziali*/
.Scritta{
    font-size: small;
}

/*Scritta evidenziata nel testo*/
.evidenziatore{
    background-color: yellow;
}

/*Tabella*/
.grassetto{
    color: white;
}

.titolotabella{
    background-color: rgb(0, 154, 206);
}

.riga1{
    background-color: lightblue;
}

.firstc{
    width: 15%;
    display: inline-block;
}

.secondc{
    width: 15%;
    display: inline-block;
}

.thirdc{
    width: 40%;
    display: inline-block;
}

/*Titolo footer*/
.titolofinale{
    color: gray;
}

/*immagine background*/
.imgb{
    background-image: url("../img/monitor.jpg");
    height: 200px;
    width: 200px;
}

.imgb2{
    background-image: url("../img/graph.jpg");
    height: 200px;
    width: 200px;
    margin-top: 10px;
}