body{
    
}

/* Pattern prima del titolo*/
header{
    background-image: url("./style.css/pattern.png");
    background-repeat: repeat-x;
    background-color: rgb(0, 154, 206);
}

/*Scritta piccolina sotto al titolo iniziale*/
.Scritto{
    font-size: small;
    color: gray;
}

/*Link scritta piccola sotto al titolo iniziale*/
.Booleaner{
    font-size:small ;
}

/*Scritta piccola sotto le 2 foto iniziali*/
.Scritta{
    font-size: small;
}

/*Scritta evidenziata nel testo*/
.evidenziatore{
    background-color: yellow;
}

/*Tabella*/
.grassetto{
    color: white;
}

.titolotabella{
    background-color: rgb(0, 154, 206);
}

.riga1{
    background-color: lightblue;
}

.firstc{
    width: 15%;
    display: inline-block;
}

.secondc{
    width: 15%;
    display: inline-block;
}

.thirdc{
    width: 40%;
    display: inline-block;
}

/*Titolo footer*/
.titolofinale{
    color: gray;
}

/*immagine background*/
.imgb{
    background-image: url("monitor.jpg");
}